@import "tailwindcss";

@theme {
  --color-calc-dark: #121212;
  --color-calc-display: #1a1a1a;
  --color-btn-num: #222222;
  --color-btn-igual: #f8b500;
  --color-btn-default: #2d2d2d;
  --color-btn-hover: #3d3d3d;
  --color-btn-active: #f8b500;
  
  --background-image-calc-grad: radial-gradient(circle at center, #2e10c1, #000000);
}

@layer base {
  body {
    @apply bg-calc-grad min-h-screen font-sans antialiased text-slate-50;
  }
}